# ignora todos arquivos css
/**/*.css
/**/*.css.map
/**/.sass-cache

# dependencies
/**/node_modules

# IDE - VSCode
/**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# others
/**/*.log
